<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings App</title>
    <link rel="stylesheet" href="css/plan.css">
</head>
<body>
    <h1>Phone Bill Widget</h1>

    <h4>Calculate Total Phone Bill For User</h4>
    <label>User Name:<input type="text" name="userName"></label><br><br>
    <label>Usage String:<input type="text" name="usageString"></label><br><br>
    <div class="viewingInfo">
        <a href="/price_plans" style="text-decoration: none;">Price Plans</a>
        <a href="/link_user" style="text-decoration: none;">Greeted Users</a>

    </div>


    
       
</body>
</html>