<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Bill App</title>
    <link rel="stylesheet" href="css/plan.css" >
</head>
<body>
    <h1>Allocate Price Plan</h1><br>
   <div class="Container">
     <form>
        <label>User Name:</label><input type="text" name="userName2"><br><br>
        <label for="plan">Price Plan:</label>
        <select id="plan" name="plan">
           <option value="Sms 100">Sms 100</option>
           <option value="Sms 200">Sms 200</option>
           <option value="Call Weekly">Call Weekly</option> 
        </select>
        <br><br>
        <button type="submit"> Allocate</button>
     </form>
   </div>

</body>
</html>