<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Bill App</title>
    <link rel="stylesheet" href="css/plan.css" >
</head>
<body>
    <h1>Price Plans</h1><br>

   <div class="Container">
     <p><strong>SMS 100</strong>  <a href="#">View Users</a></p>
     <p><strong>SMS 200</strong>  <a href="#">View Users</a></p>
     <p><strong>Call Weekly</strong>  <a href="#">View Users</a></p>
   </div>

</body>
</html>